# Файлы виртуального окружения
venv/
env/

# Файлы данных и миграций
*.sqlite3
__pycache__/
db.sqlite3

# Конфиденциальные файлы
*.env
*.log
*.key

# Системные файлы
.DS_Store
*.tmp

# Кэш и временные файлы
*.pyc
*.pyo
*.~*

# Настройки IDE
.vscode/
.idea/

# Статические файлы
staticfiles/
