{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Ваши чаты</h2>
    <ul>
        {% for chat in chats %}
        <li>
            <a href="{% url 'chat_room' chat.id %}">{{ chat.name }}</a>
            <p>Последнее сообщение: {{ chat.latest_message.content|default:"Нет сообщений" }}</p>
        </li>
        {% empty %}
        <li>У вас пока нет чатов.</li>
        {% endfor %}
    </ul>
    <a href="/create-chat/" class="btn">Создать групповой чат</a>
</div>
{% endblock %}
